* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  width: 100vw;
  background-color: white;
  color: white;
  font-family: proxima-nova, Helvetica, Ariel, sans-serif;
}

.header-background {
  display: block;
  background-image: url("../img/cover_art.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-axis: -1;
}

.main-header {
  display: flex;
  flex-direction: column;
  height: 11.7rem;
  margin-left: 15vw;
  margin-right: 15vw;
}

.upper-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid white;
}
.upper-header .player {
  padding: 10px 100px;
  display: flex;
  align-content: center;
}
.upper-header .player .now-playing {
  margin-left: 10px;
  font-size: 0.85em;
}
.upper-header .player .now-playing #np-host {
  margin-top: 0;
}
.upper-header .player .now-playing #np-artist {
  margin-bottom: 0;
}
.upper-header #cover_art {
  height: 82.98px;
  width: 82.98px;
  border: 1px solid white;
  margin-left: 20px;
}
.upper-header #play-circle {
  font-size: 70px;
  left: 35px;
  color: white;
}
.upper-header #logo {
  height: 86.4px;
  width: 64.8px;
  border: 1px solid white;
}
.upper-header .header-tools {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
}

.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.lower-header .main-nav nav ul {
  display: flex;
  list-style: none;
  align-content: center;
}
.lower-header .main-nav nav ul li {
  margin-left: 25px;
}
.lower-header .secondary-nav ul {
  display: flex;
  list-style: none;
  margin-right: 25px;
}
.lower-header .secondary-nav ul li {
  margin-left: 25px;
}

.main-content {
  max-width: 1600px;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  padding: 2rem 1rem;
}

.content-section-one {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 -0.5rem 0 -0.5rem;
}

.main-content-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: calc(99.9% * 14/18 - (0rem - 0rem * 14/18));
  margin-left: 0;
  margin-right: 0;
}
.main-content-grid .media-row-one {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-around;
}
.main-content-grid .media-row-one .media-card-lg {
  overflow: hidden;
  flex-grow: 1.5;
  margin: 0.5rem;
  width: calc(100/3 - 6rem);
}
.main-content-grid .media-row-one .media-card-lg img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.main-content-grid .media-row-one .media-card-sm {
  flex-grow: 1;
  overflow: hidden;
  margin: 0.5rem;
  width: calc(100/3 - 6rem);
}
.main-content-grid .media-row-one .media-card-sm img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.main-content-grid .media-row-two {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-around;
}
.main-content-grid .media-row-two .media-card-lg {
  overflow: hidden;
  flex-grow: 1.5;
  margin: 0.5rem;
  width: calc(100/3 - 6rem);
}
.main-content-grid .media-row-two .media-card-lg img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.main-content-grid .media-row-two .media-card-sm {
  flex-grow: 1;
  overflow: hidden;
  margin: 0.5rem;
  width: calc(100/3 - 6rem);
}
.main-content-grid .media-row-two .media-card-sm img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.sidebar {
  width: calc(99.9% * 4/18 - (0rem - 0rem * 4/18));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.sidebar .ad-square {
  width: 100%;
}
.sidebar .ad-square img {
  max-width: 100%;
}

.sidebar-body .stories-header {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
  background-color: #feac31;
}

.story {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}
.story img {
  max-width: 35%;
  margin-right: 0.5em;
}
.story .story-text {
  flex: 1;
  color: black;
  font-size: 0.7em;
}
.story .story-text h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.story .story-text p {
  margin-top: 0;
  font-size: 0.7em;
}

.text-banner {
  display: flex;
  justify-content: center;
  color: black;
}
.text-banner h2 {
  margin-left: 0.5em;
}
.text-banner h2:nth-of-type(3) {
  color: #feac31;
  text-decoration: underline;
}

/*# sourceMappingURL=output.css.map */
