//variables
$accent-color: #feac31;
//mixins


* {
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: white;
  color: white;
  font-family: proxima-nova, Helvetica, Ariel, sans-serif;
}


.header-background {
  display: block;
  background-image: url("../img/cover_art.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  z-axis: -1;
  //filter: blur(5px);
}

.main-header {
  display: flex;
  flex-direction: column;
  height: 11.7rem;
  margin-left: 10vw;
  margin-right: 10vw;
}
.upper-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  .player {
    padding: 10px 100px;
    display: flex;
    align-content: center;
    .now-playing {
      margin-left: 10px;
      font-size: .85em;
      #np-host {
        margin-top: 0;
      }
      #np-artist {
        margin-bottom: 0;
      }
    }
  }
  .header-tools {
    position: absolute;
    top: 0;
    right: 10px;
    color: white;
  }
}

.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-nav nav ul {
    display: flex;
    list-style: none;
    align-content: center;
    li {
      margin-left: 25px;
    }
}

.secondary-nav ul {
  display: flex;
  list-style: none;
  margin-right: 25px;
  li {
    margin-left: 25px;
  }
}
.beneath-header {
  display: flex;
  justify-content: center;
  h2 {
    margin-left: 10px;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mc-sub {
  display: flex;
  justify-content: space-around;
}
.mc-column {
  display: flex;
  flex-direction: column;
  img {
    height: 250px;
    width: 320px;
  }
}
.mc-row-one {
  display: flex;
  justify-content: space-around;
}
.mc-row-two {
  display: flex;
  justify-content: space-around;
}
.sidebar {
  display: flex;
  flex-direction: column;
  img {
    height: 220px;
    width: 220px;
  }
  .featured-stories {
    h2 {
      background-color: $accent-color
    }
  }
}
.story {
  display: flex;
img {
    height: 80px;
    width: 80px;
  }
}


#playlist {


}
#search {

}

#cover_art {
  height: 82.98px;
  width: 82.98px;
  border: 1px solid white;
  margin-left: 20px;
}

#play-circle {
  font-size: 70px;
  left: 35px;
  color: white;
}

 #logo {
  height: 86.4px;
  width: 64.8px;
  border: 1px solid white;
}
